.content {
    text-align: left;
    padding-left: 10px;
    display: inline-flex;
    gap: 50px;
    position: relative;

}

.content img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content span {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px rgb(68, 60, 171) solid;
    border-right: 10px solid transparent;
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
    left: 130px;
    top: 90px;
}

.about {
    border: 2px rgb(68, 60, 171) solid;
    padding: 10px;
    border-radius: 10px;
}

.about h2  {
    text-align: center;
}


footer {
    margin-top: 97px;
}

@media (max-width: 750px) {
    .content {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        gap: 20px;
    }

    .content img {
        width: 200px;
        height: 200px;
    }

    .content span {
        display: none;
    }
}